.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #FFFFFF;
}


.anime-info {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    max-width: 820px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}


.poster {
    width: 235px;
    height: 335px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.list {
    margin-top: 5px;
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.list li {
    margin: 5px;
    padding: 5px 10px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.2);
}

.description{
    margin-left: 5px;
    margin-right: 5px;
    color: #FFFFFF;
}

.buttons{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    border-radius: 20px;
}

button{
    margin: 5px;
    cursor: pointer;
    border-color: rgba(144,233,255,0);
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;

    color: #FFFFFF;


    width: 150px;
    height: 50px;
    background: #FF005C;
    border-radius: 20px;
}

