.loading-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #FFFFFF;
}

.buttons{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    border-radius: 20px;
}

.buttonnn{
    margin: 5px;
    cursor: pointer;
    border-color: rgba(144,233,255,0);
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;

    color: #FFFFFF;


    width: 150px;
    height: 50px;
    background: #da124c;
    border-radius: 20px;
}

.bn3 {
    display: inline-block;
    padding: 0.5em 1.7em;
    margin: 0 0.1em 0.1em 0;
    border: 0.16em solid rgb(255, 255, 255);
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #ffffff;
    text-shadow: 0 0.04em 0.04em rgba(255, 255, 255, 0.253);
    text-align: center;
    transition: all 0.2s;
}

.bn3:hover {
    color: black;
    background-color: rgb(255, 255, 255);
}